/* Global styles */
body {
  background-color: rgb(171, 187, 187);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
} 
