<!-- views/footer.ejs -->
<!DOCTYPE html>
<html>
<head>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <footer>
        <p>Copyright &copy; Made by Matan Bardugo</p>
    </footer>
</body>
</html>
