<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/successAdd.css" rel="stylesheet" type="text/css">
    <%- include("./header.ejs") %>
    <title>New User Added</title>
  </head>
  
  <body>
    <div class="container">
      <h1>Added A New User...</h1>
      <a href="/api/home" class="btn">Back to Home</a>
      <span>&nbsp;</span> <!-- add some space between buttons -->
      <a href="/api/users" class="btn">View All Users</a>
      <span>&nbsp;</span> <!-- add some space between buttons -->
      <a href="/api/users/new" class="btn">Add new user</a>
    </div>
    <%- include("./footer.ejs") %>
  </body>
</html>
