.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  /* changed height to min-height for better responsiveness */
  background-color: #f7f7f7;
}

.Profile main {
  width: 90%;
  /* increased width for better readability */
  max-width: 800px;
  height: 500px;
  text-align: center;
  overflow-y: hidden;
  padding: 2rem; /* added padding for better spacing */
  border-radius: 1rem; /* increased border radius for a more rounded look */
  background-color: #a9dfec; /* changed background color to white for better contrast */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* added box shadow for depth */
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Profile h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #060a0c;
  /* added color for better contrast */
}

.Profile nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  /* added margin for better spacing */
}

.Profile nav li {
  margin: 1rem;
}

.Profile nav a {
  font-size: 1.2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: 3px solid #060a0c;
  background-color: #f7f7f7;
  color: #060a0c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 100px;
}

.Profile nav a:hover {
  background-color: #6dcba2;
  color: #fff;
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .Profile main {
    width: 90%;
  }

  .Profile h1 {
    font-size: 2rem;
  }

  .Profile nav a {
    min-width: 150px;
    height: 80px;
    padding: 1rem;
    /* decreased padding for better fit on smaller screens */
  }
}