/* Style the table */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* Style the table headers */
th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #008CBA;
    color: white;
}

/* Style the table data */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style the heading */
h1 {
    color: #010a0d;
    text-align: center;
    margin-top: 50px;
}

/* Style the button */
button {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #0c0808;
    background-color: #41d5e9;
    border: 2px solid #342e2e;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
    cursor: pointer;
}

/* Style the button when hovered */
button:hover {
    background-color: #57abf0;
}

/* Style the background color */
body {
    background-color: #64b7d8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

/* Style the container div */
.container {
    max-height: 500px; /* Adjust the height as needed */
    overflow: auto;
    align-items: center;
    padding: 30px;
}
