
  header {
    background-color: #25c2ba;
    color: #201212;
    padding: 20px;
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin: 0 10px;
  }
  
  li a {
    text-decoration: none;
    color: #160505;
    padding: 10px;
    border-radius: 5px;
    background-color: #41d5e9;
    transition: all 0.3s ease-in-out;
    border: 2px solid #342e2e;
  }
  
  li a:hover {
    background-color: #7c6e6e;
    color: #008080;
    border: 2px solid #008080;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }

  body img {
      position: absolute;
      top: 10px;
      right: 20px;
      height: 50px;
      z-index: 1;
      height: 80px;
      width: 80px;
  }
  h2 {
      margin: 0;
      font-size: 2em;
  }