

body {
  background-color: #64b7d8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 100%;
}

.container {
  margin: 50px auto;
  max-width: 700px;
  padding: 30px;
  align-items: center;
}

li a {
  background-color: #41d5e9;
}

h1 {
  color: #0a0101;
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}
