.header-container {
  position: relative;
  height: 100px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 80px;
  height: 80px;
  border: 3px solid #060a0c;
  border-radius: 30%;
}

img:hover{
  background-color: #6dcba2;
  color: #f7f7f7;
}

.header-container header {
  background-color: #46908d;
  color: #200c0c;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container nav li {
  margin-right: 1rem;
}

.header-container nav a {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border: 3px solid #060a0c;
  background-color: #f7f7f7;
  color: #060a0c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 20px;
}

.header-container nav a:hover {
  background-color: #6dcba2;
  color: #f7f7f7;
}

.header-container a {
  text-decoration: none;
  color: #040c09;
}
