.header-li-text {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.header-li-text ~ li {
  margin-right: 1rem;
}

.ball {
  color: rgb(153, 25, 36);
  animation: rotate-up-down 3s infinite;
}

@keyframes rotate-up-down {
  0% {
    transform: translate(-50%, -50%) rotateX(0);
  }
  50% {
    transform: translate(-50%, -50%) rotateX(180deg);
  } 
  100% {
    transform: translate(-50%, -50%) rotateX(360deg);
  }
} 


img {
  position: fixed;
  top: 5px;
  right: 50px;
  width: 80px;
  height: 80px;
  border: 3px solid #060a0c;
  border-radius: 30%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  img {
    width: 60px; /* Adjust the width for smaller screens */
    height: 60px; /* Adjust the height for smaller screens */
  }
}

@media (max-width: 480px) {
  img {
    width: 40px; /* Adjust the width for even smaller screens */
    height: 40px; /* Adjust the height for even smaller screens */
    right: 20px; /* Adjust the position for smaller screens */
  }
}



img:hover{
  background-color: #6dcba2;
  color: #f7f7f7;
}

.header-container header {
  background: rgba(247, 247, 247, 0.5); /* Transparent background color */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  color: #200c0c;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container nav li {
  margin-right: 1rem;
}

.header-container nav a {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border: 3px solid #060a0c;
  background-color: #f7f7f7;
  color: #060a0c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 20px;
}

.header-container nav a:hover {
  background-color: #6dcba2;
  color: #f7f7f7;
}

.header-container {
  position: fixed;
  z-index: 10;
}

.container {
  position: relative;
  z-index: 1;
}
