<!-- views/header.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Users Management</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h2>Users Management</h2>
    </header>
</body>
</html>
