<!-- views/header.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Users Management</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <img src="/images/logo.jpg" alt="Image 1">
      <nav>
          <ul>
            <li><a href="/api/home">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
  </header>
</body>
</html>
