<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>  
    <%- include("./header.ejs") %>
    <h1>Welcome to my app</h1>
    <main class="container">
      <nav>
        <a href="/api/users">See All Users</a></p>
        <a href="/api/users/new">Add A New User</a></p>
        <a href="/api/users/update">Update A User</a></p>
        <a href="/api/users/delete">Delete A User</a></p>
      </nav>
    </main>
    <%- include("./footer.ejs") %>
  </body>
</html>
